#flag {
    width: 1000px;
    height: 400px;
    border-spacing: 0;
    border-collapse: collapse;
}

#stars {
  color: white;
  background-color: blue;
  text-align: center;
  font-size: 22px;
  width: 350px;
  height: 150px;
  padding: 10px;
}

.white_stripe {
  padding: 0;
  background-color: white;
  height: 30px;
  width: 700px;
}

.red_stripe {
  padding: 0;
  background-color: red;
  height: 30px;
  width: 700px;
}
