body {
  background-color: hsla(210, 8%, 25%, 0.9);
  font-family: 'Monda', sans-serif;
}

.container {
  display: flex;
  margin-top: 5rem;
  flex-flow: column wrap;
  align-items: center;
}

tbody {
  display: flex;
  background-color: black;
  color: white;
  border: 0.15rem solid white;
}

tr {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  border: 0.15rem solid white;
}

td {
  display: flex;
  background-color: hsla(210, 8%, 25%, 0.9);
}
