body {
  background-color: hsla(210, 8%, 25%, 0.9);
  font-family: 'Monda', sans-serif;
}

.container {
  display: flex;
  margin-top: 5rem;
  flex-flow: column wrap;
  align-items: center;
}

#infoDiv {
  display: flex;
  align-content: center;
  width: 50%;
}

#data {
  display: flex;
  flex-flow: column nowrap;
  color: blue;
}

ul > li {
  display: flex;
  flex-direction: column;
  word-spacing: 1rem;
}