/* GENERAL ELEMENT STYLES */

/* STYLES PER ID */
/*
* Refencing the ID of the container for all the cards
* add size properities to the container.
* Set the container to display flex for allowing
* boostrap CSS properities to be added.
*/
#cardContainer {
  display: flex;
  /*align-items: stretch;*/
  justify-content: space-between;
  align-content: flex-end;
}

/*
* Adjustments for the page container on Page 1.
* Sets container to display flex to access css
* bootstrap properties.
*/
#page1MainContainer {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

#jumbotronContent {
  display: flex;
  flex-direction: column;
}

#page1MainContainer > h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* STYLES PER CLASS */
/*
* Set the navigation bar to display flex.
*/
.navbar {
  display: flex;
  height: 4rem;
  /*align-items: flex-end;*/
}

/*
* Set the color of navbar-light (the text)
* to white.
*/
.navbar-light .navbar-brand {
  color: #FFFFFF;
}

/*
* Set the navbar child element (link) to white.
*/
.navbar-light .navbar-nav .nav-item .nav-link {
  color: #FFFFFF;
}

/*
* Adding height and margin to the logo
* in the navigation bar helps to adjust for container height.
*/
.nav-logo {
  height: 2rem;
  margin-right: 1rem;
}

/*
* Set width of each card to 18rem for equal spacing.
* Adjust card margin to 1em on each side.
*/
.card {
  margin: 0.25em;
  width: 18rem;
}

.page1-main-image {
  width: 100%;
}

/*
* Set a border with color to the tab content.
*/
.tab-content {
  border: 0.25rem solid #eae9ec;
  border-radius: 0.2rem;
}

/*
*
*/
.nav-tabs > li a {
  color: black;
}

.nav-tabs > li:active,
.nav-tabs > li:focus {
  color: white;
  background-color: blue;
}

/*
*
*/
.nav-tabs {
  background: #eae9ec;
  margin: 0.25rem;
  border-radius: 0.2rem;
}

/*
*
*/
.nav-tabs > li {
  background-color: #fff;
  border-left: 0.5rem solid #eae9ec;
  border-right: 0.5rem solid #eae9ec;
  border-top: 0.5rem solid #eae9ec;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 10rem;
  text-align: center;
  font-size: 1.25rem;
}

/*
*
*/
.tab-pane {
  margin: 1rem;
}
