.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.jumbotron {
  display: flex;
}

.jumbotron > h3 {
  font-family: 'Monda', sans-serif;
}

td {
  margin: 0.25rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
