/* GLOBAL DEFAULTS */
/***/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*  */
ul > li {
 list-style-type: none;
}

/*  */
h1 > a, h1 > a:hover, li > a, li > a:hover {
  color: white;
  text-decoration: none;
}

/*  */
.navWrapper {
  background-color: black;
  color: rgb(155,151,148);
}

/*  */
.homepage-ref {
  /* background-image: url('../images/icons/disco-ball.svg'); */
  /* background-color: rgb(155,151,148); */
  background-repeat: no-repeat;
  background-size: 100%;
}

/* ---- Begin Parallax Effects ---- */
/*
*
*/
.wrapper {
  /*Global font (overridden for special text elements)*/
  font-family: 'Josefin Sans', sans-serif;
  /*Effets that are specific to making the parallax effect possible.*/
  height: 100vh;
}

/*
* Set each section to have same global styles,
* then override in later selector settings.
*/
.block-section {
  display: flex;
  align-items: center;
  justify-content: center;
  /*Text Decorations*/
  color: rgb(155,151,148);
  text-shadow: 0 0 5px #000;
  /*Sets child position according to parent*/
  position: relative;
  height: 100vh;
}

/*
*
*/
.toggle-parallax::after {
  content: " ";
  position: absolute;
  /*Position to 0px's from where element is rendered.*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-attachment: fixed;
  /*Prevents overlap of `<section>`'s*/
  z-index: -1;
}

/*
* Loads the main profile picture for DJ Marco Valencia
*/
/* .prof-pic-bg::after {
  background-image: url('https://i1.sndcdn.com/avatars-000517298949-qaejbz-t500x500.jpg');
} */
/*
* Loads a 'autumn' style theme for this block.
*/
.fall-bg::after {
  background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-115568.jpg');
}

/*
* Loads 'winter' background
*/
.winter-bg::after {
  background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-192207.jpg');
  /* background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-149982.jpg'); */
}

/*
* Loads 'spring' background
*/
.spring-bg::after {
  background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-3536.png');
}
/* ---- End Parallax Effects ---- */
/* GLOBAL DEFAULTS */

/* PROFILE BLOCK STYLING */
/*
* Overridding previous settings for the main profile picture block.
* This element also inherits the `display: flex;` propert of the sibling class.
*/
#profileBlock {
  background-color: black;
  background-image: url('https://i1.sndcdn.com/avatars-000517298949-qaejbz-t500x500.jpg');
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
}

#mvProfPic {
  max-width: 32rem;
  flex-flow: column wrap;
}

#profileBlock > h1 {
  margin: 0 0 20rem 5rem;
}

#profileBlock > ul {
  margin: 4rem 13rem 0 0;
}

#profileBlock > ul > li {
  font-size: 1.5rem;
  line-height: 6rem;
}

/* PROFILE BLOCK STYLING */
/*************************/
/* SINGLE CARD STYLING */
#singleCardWrapper {
  font-family: 'Abel', sans-serif;
  color: rgb(155,151,148);
  height: 100vh;
}

#eventCardBody {
  background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-701964.png');
  background-size: contain;
  background-repeat: repeat-y;
}

#eventTitle {
  border: 1px solid white;
}

/* SINGLE CARD STYLING */
/*************************/
/* ABOUT ME STYLING */

/*
*
*/
.about-me-wrapper {
  z-index: 1;
  background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-562958.jpg');
  background-size: contain;
}
/*
*
*/
.about-me-container {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  color: rgb(155,151,148);
}

/*  */
.lead {
  margin: 3rem 3rem;
}

/*  */
.profPic {
  border-radius: 50%;
}
/* ABOUT ME STYLING */
/*************************/
/* MIXES PAGE STYLING */
/*  */
.mixes-wrapper {
  z-index: -2 ;
  background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-58548.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/*  */
.carousel-indicators {
  margin-bottom: -10%;
}

/*  */
.carousel-caption {
  display: inline-block;
  max-width: 50%;
  height: auto;
  margin-left: 45%;
  margin-top: -30%;
}

/*  */
.carousel-caption > h3, .carousel-caption > p {
  color: black;
}

#mixesTitle {
  padding-top: 1rem;
}
/* MIXES PAGE STYLING */
/*************************/
