/*
* Adding some basic style to the body.
*/
body {
  background-color: hsla(210, 8%, 25%, 0.9);
  font-family: 'Monda', sans-serif;
}

/*
* Adjusted background and centered the items to look like less space is
* going unused.
* Using HSLA was preffered for creating gentle gray layer coloring.
*/
.jumbotron {
  display: flex;
  width: 100%;
  background-color: hsla(210, 8%, 53%, 0.1);
  flex-flow: column nowrap;
  color: hsla(210, 8%, 81%, 0.9);
  border-radius: 1rem;
}

/*
* Margins and some padding along with text color for the text within
* the jumbotron.
*/
.jumbotron > h5 {
  border-left: 2em solid #7e8791;
}

.jumbotron > h5, .jumbotron > p {
  margin: 0.5rem 0 0.5rem 0.25rem;
  padding-left: 0.25rem;
}

.jumbotron > p {
  color: hsla(200, 85%, 42%, 0.96);
}
