table, tr, td {
  border: 0.25px solid black;
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  padding: 3px 7px 3px 7px;
}

table {
  border-collapse: collapse;
}

#topRow th {
  border: 0.25px solid black;
  font-size: 22px;
  text-align: center;
  border-right: none;
  font-weight: lighter;
}

tr #rgbRef {
  background: rgb(118, 165, 233);
}

tr #hslRef {
  background: hsl(215.5, 72.3%, 68.8%);
}

tr #rgb9 {  background: rgb(118, 165, 233, 0.9);}

tr #rgb8 {  background: rgb(118, 165, 233, 0.8);}

tr #rgb7 {  background: rgb(118, 165, 233, 0.7);}

tr #rgb6 {  background: rgb(118, 165, 233, 0.6);}

tr #rgb5 {  background: rgb(118, 165, 233, 0.5);}

tr #rgb4 {  background: rgb(118, 165, 233, 0.4);}

tr #rgb3 {  background: rgb(118, 165, 233, 0.3);}

tr #rgb2 {  background: rgb(118, 165, 233, 0.2);}

tr #rgb1 {  background: rgb(118, 165, 233, 0.1);}

tr #hsl9 {  background: hsl(215.5, 72.3%, 68.8%, 0.9);}

tr #hsl8 {  background: hsl(215.5, 72.3%, 68.8%, 0.8);}

tr #hsl7 {  background: hsl(215.5, 72.3%, 68.8%, 0.7);}

tr #hsl6 {  background: hsl(215.5, 72.3%, 68.8%, 0.6);}

tr #hsl5 {  background: hsl(215.5, 72.3%, 68.8%, 0.5);}

tr #hsl4 {  background: hsl(215.5, 72.3%, 68.8%, 0.4);}

tr #hsl3 {  background: hsl(215.5, 72.3%, 68.8%, 0.3);}

tr #hsl2 {  background: hsl(215.5, 72.3%, 68.8%, 0.2);}

tr #hsl1 {  background: hsl(215.5, 72.3%, 68.8%, 0.1);}
