/* GENERAL ELEMENT STYLES */

/* STYLES PER ID */
/*
* Refencing the ID of the container for all the cards
* add size properities to the container.
* Set the container to display flex for allowing
* boostrap CSS properities to be added.
*/
#cardContainer {
  display: flex;
  /*align-items: stretch;*/
  justify-content: space-between;
  align-content: flex-end;
}

#jumbotronContent {
  display: flex;
  flex-direction: column;
}

/* STYLES PER CLASS */
/*
* Set the navigation bar to display flex.
*/
.navbar {
  display: flex;
  height: 4rem;
  /*align-items: flex-end;*/
}

/*
* Set the color of navbar-light (the text)
* to white.
*/
.navbar-light .navbar-brand {
  color: #FFFFFF;
}

/*
* Set the navbar child element (link) to white.
*/
.navbar-light .navbar-nav .nav-item .nav-link {
  color: #FFFFFF;
}

/*
* Adding height and margin to the logo
* in the navigation bar helps to adjust for container height.
*/
.nav-logo {
  height: 2rem;
  margin-right: 1rem;
}

.jumbotron {
  background-color: rgb(51, 0, 111);
  color: white;
}

/*
* Set width of each card to 18rem for equal spacing.
* Adjust card margin to 1em on each side.
*/
.card {
  margin: 0.25em;
  width: 18rem;
}
