/*
* Global settings applied first, then by Classes, then ID.
*/
body {
  font-family: 'Monda', sans-serif;
}

hr {
  min-width: 90%;
  height: auto;
}

h3, .container > p {
  margin-left: 3rem;
}

/* Classes */

.container {
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  align-content: baseline;
  align-items: center;
  margin: 0.5rem;
}

.jumbotron {
  text-align: center;
  margin: 0 0 3rem 0;
  padding-bottom: 0;
}

.list-inline-item {
  /* display: flex; */
  width: 100%;
  border: 0.15rem solid rgb(36,79,111);
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem 0 2rem;
}

.card-img-top {
  min-width: 100%;
  padding: 0.5rem;
  height: auto;
}

.card-body {
  height: 50%;
  width: auto;
}

/* ID's */
#materials {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
}
